<div class="chartHolder doughnutSize">
  <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
  <canvas ng-if="$storage.dailyHardGoal - $storage.lavuStaff.todayTotalSales > 0" id="doughnut" class="chart chart-doughnut"
    chart-data="[$storage.lavuStaff.todayTotalSales, $storage.dailyHardGoal - $storage.lavuStaff.todayTotalSales]"  chart-labels="['Today Total Sales', 'Difference From Goal']" chart-options="options">
  </canvas> 
  <canvas ng-if="$storage.dailyHardGoal - $storage.lavuStaff.todayTotalSales <= 0" id="doughnut" class="chart chart-doughnut"
    chart-data="[$storage.lavuStaff.todayTotalSales, $storage.lavuStaff.todayTotalSales - $storage.dailyHardGoal]"  chart-labels="['Today Total Sales', 'Amount Exceeding Goal']" chart-options="options">
  </canvas> 
</div>

<div class="center">
  <h4>Total Sales: {{ $storage.sales[getSalesDate()].totalSales | currency }}</h4>
  <span class="smallFont">{{$storage.sales[getSalesDate()].totalSales / $storage.dailyHardGoal * 100| number:2 }}%</span> <br>
  <span class="smallFont">of goal achieved</span> 
  <br>
  <a data-toggle="modal" data-target="#myModal"><span class="smallFont" style="color:deepskyblue">Adjust goal</span></a>
</div>

  <table class="dividerTable smallFont">  
    <thead>
      <tr class="tableEmployeeStat">
        <th>Category</th>
        <th>Sales</th>
        <th>Tickets</th>
        <th>% of Total Sales</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tableEmployeeStat" ng-repeat="category in $storage.sales[getSalesDate()].categories">
        <td>{{category.name}}</td>
        <td>${{category.sales}}</td>
        <td>{{category.count}}</td>
        <td>{{ (category.sales / $storage.sales[getSalesDate()].totalSales) * 100 | number:2}}%</td>
      </tr>
  
    </tbody>
  </table>
  <br>
<!-- Insights -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Thought of the Day</b></span>
    <br>
    <br>
    <div class="boxed ">
      <span class="smallFont">{{$storage.fullTactics.tactics[0].tips.thoughtOfTheDay}}</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adjust Today's Goal</h4>
      </div>
      <div class="modal-body">
        <input type="range" min="{{$storage.dailyHardGoal-300}}" max="{{$storage.dailyHardGoal+300}}" id="weeklyGoalRange" ng-model="$storage.dailyHardGoal" />
        <input type="number" id="weeklyGoalInput" ng-if="section == 0" ng-model="$storage.dailyHardGoal" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="callUpdateGoals(0)">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

