<script>
$( "Goal" ).click(function() {
      $( "Display" ).toggle( {
        
      });
    $(this).text(function(i, text){
    return text === "Edit Goal" ? "Change Goal" : "Edit Goal";
    })
});
</script>

<div>
  <div class="noHeight" ng-include src="'partials/navbar.html'"></div>

  <header class="progressHeader">
    <h5 class="location-name">{{ $storage.locationData.name }}</h5>
    <h3 class="screen-heading">Current Incentive</h3>
    <span class="xlargeFont screen-heading">{{$storage.incentiveItem.name}}</span>
    <!--<span class="xlargeFont screen-heading">{{dateRange}}</span>-->
  </header>

  <div ng-if="loading" ng-include="'partials/loading.html'"></div>
  <div ng-if="error" class="center">
    <div ng-include="'partials/error.html'"></div>
    API call timed out. Try again.
  </div>
<br>
<div class="center">
  <img ng-click="scrubWeeks(7)" style="top:-5px" src="assets/images/backArrow.png" width="15px" />
  <h4 class="keepInline">&nbsp;&nbsp;{{ formatDate($storage.scrubDateMin)}} - {{formatDate($storage.scrubDateMax)}}&nbsp;&nbsp;</h4>
  <!-- <h4 class="keepInline">{{ $storage.weekToDate.itemGroups[$storage.incentiveItem.id].count }} units to {{ $storage.weeklyIncentiveGoal }} weekly goal</h4> -->
  <!-- $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count -->
  <img ng-click="scrubWeeks(-7)" class="flip" src="assets/images/backArrow.png" width="15px" />
</div>

<h4 class="center" ng-if="$storage.incentiveItem">{{ printWeeklySales() }} items sold of {{ $storage.weeklyIncentiveGoal }} goal</h4>
<!-- <h4 class="center" ng-if="$storage.incentiveItem">{{ $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count|ifEmpty:0}} / {{ $storage.weeklyIncentiveGoal }} units of {{$storage.incentiveItem.name}} weekly goal</h4> -->
<h4 class="center" ng-if="!$storage.incentiveItem">No incentive set yet</h4>

  <!--set different graphs to display-->
<div class="chartHolder absolute" ng-if="$storage.incentiveItem">
  <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
 <!--  <canvas chart-data="[printWeeklySales(), 200]" class="chart chart-doughnut" chart-labels="['stuff', 'staff']" chart-options="options"></canvas> -->
 <!-- <canvas ng-if="($storage.weeklyIncentiveGoal - $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count )> 0" 
chart-data="[$storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count, $storage.weeklyIncentiveGoal - $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count]"  
 -->
 <canvas ng-if="$storage.weeklyIncentiveGoal - printWeeklySales() > 0"
    id="doughnut" 
    class="chart chart-doughnut"
    chart-data="[printWeeklySales(), $storage.weeklyIncentiveGoal - printWeeklySales()]"
    chart-labels="['Period Total Sales', 'Difference From Goal']" 
    chart-options="donutOptions" 
    chart-colors="['#46C646', '#D3D3D3']">
  </canvas> 
<!-- <canvas ng-if="($storage.weeklyIncentiveGoal - $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count) <= 0" 
chart-data="[$storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count]" 
 -->
  <canvas ng-if="$storage.weeklyIncentiveGoal - printWeeklySales() <= 0"
    id="doughnut" 
    class="chart chart-doughnut"
    chart-data="[printWeeklySales()]"
    chart-labels="['Period Total Sales', 'Amount Exceeding Goal']" 
    chart-options="donutOptions" 
    chart-colors="['#46C646','#46C646']">
  </canvas> 

<!--  $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count / $storage.weeklyIncentiveGoal * 100 | number:0 | ifEmpty:0 -->
    <div class="innerText"><span class="xlargeFont" style="color:deepskyblue">{{
    (printWeeklySales() / $storage.weeklyIncentiveGoal) * 100 | number:0
    }}%</span><br> 
      <span class="smallFont">of {{}} goal achieved</span>
        <a data-toggle="modal" data-target="#myModal"> <br> <br>
          <button class="smallFont button" style="color:deepskyblue">Adjust goal</button>
        </a>
      </div>

    </div>
  
<div class="center" ng-if="!$storage.incentiveItem">
<a data-toggle="modal" data-target="#myModal" ng-click="onAdjustGoals()"><span style="color:deepskyblue">Set Incentive Goal</span></a>
</div>
  

<div class="center" ng-if="$storage.incentiveItem">
  <table ng-if="$storage.currentWeek" class="dividerTable" ng-init="section = 'today';getDateRange(0)">
  <div class="tabs tabs-style-linemove">
    <tr class="smallFont bottomLine progressHeader"><td colspan="5" style="color:white">
      <b>{{dateRange}}</b></td>
    </tr>
    <tr class="smallFont bottomLine">
      <th ng-class="{'selected': section === 'today'}" ng-click="setSalesDate('TODAY'); getDateRange(0); section = 'today'">Today </th>
      <th ng-class="{'selected': section === 'yesterday'}" ng-click="setSalesDate('YESTERDAY'); getDateRange(1); section = 'yesterday'">Yesterday</th>
      <th ng-class="{'selected': section === 'this week'}" ng-click="setSalesDate('WEEKTODATE'); getDateRange(4); section = 'this week'">Week To Date</th>
      <th ng-class="{'selected': section === 'last week'}" ng-click="setSalesDate('LASTWEEK'); getDateRange(2); section = 'last week'; getLastWeekData()">Last Week </th>
      <th ng-class="{'selected': section === 'this month'}" ng-click="setSalesDate('MONTHLY'); getDateRange(3); section = 'this month'">Monthly</th>
    </tr>
  </div>
  </table>
</div>

<div>
  <table class="dividerTable grayBKG centeredPaddedCell">
    <tr class="center">
      <th class="smallFont">Units Sold</th>
      <th class="smallFont">Sales</th>
    </tr>
    <tr class="center">
      <td class="mediumFont" ng-init="callGetGoals()">{{ $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count | ifEmpty:0}}</td>
      <td class="mediumFont">{{ $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].sales | currency:undefined:0 | ifEmpty:0 }}</td>
      </tr>
  </table>
</div>

<div ng-include src="'partials/MVP/incentive/dailyStaffIncentive.html'"></div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header headerBKG">
        <h4 class="modal-title center xlargeFont" style="color:white">This week's goal: {{$storage.weeklyIncentiveGoal}}</h4>
      </div>
      <div class="modal-body center tactics">
        <input type="number" id="incentiveGoalInput" value='{{$storage.weeklyIncentiveGoal}}' />
        <br>
        <select class="smallRoundButton" ng-model="$storage.incentiveCategory" ng-options="x.name for x in $storage.menucategories | orderBy:'toString()'">
        </select>
        <br>
        <select class="smallRoundButton" ng-model="$storage.incentiveItem" ng-options="x.name for x in $storage.incentiveItems | orderBy:'toString()'">
        </select>
        <br>
      </div>
      <div class="modal-footer headerBKG">
        <button type="button" class="btn btn-default" ng-click="updateIncentive()">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<button class="button grayBKG" style="width:100%" ng-click="loadSalesData(true)">Refresh Data</button>
    <!-- END EDIT CONTENT -->
