<script>
$( "Goal" ).click(function() {
      $( "Display" ).toggle( {
        
      });
    $(this).text(function(i, text){
    return text === "Edit Goal" ? "Change Goal" : "Edit Goal";
    })
});
</script>
<div ng-if="gateLocation()" class="center">
  <div class="colCenter">
    <header>
      Choose your Location
    </header>
    <button ng-click="updateLocation(0)">
    Bariloche
    </button> <br />
    <button ng-click="updateLocation(1)">
    Tejeda
    </button> <br />
    <button ng-click="updateLocation(2)">
    Goose island
    </button>
  </div>
</div>
<div ng-if="gateLocation() === false">
  <div class="noHeight" ng-include src="'partials/navbar.html'"></div>

  <header class="progressHeader">
    <h3>
      <span class="mediumFont">Current Incentive</span>
    </h3>
    <br />
  </header>

  <table class="dividerTable" ng-init="section = 0">
    <tr class="smallFont bottomLine">
      <th class="centeredPaddedCell" ng-class="{'selected': section === 0}" ng-click="section = 0">Today</th>
      <th class="centeredPaddedCell" ng-class="{'selected': section === 1}" ng-click="section = 1">Yesterday</th>
      <th class="centeredPaddedCell" ng-class="{'selected': section === 2}" ng-click="section = 2">Last Week</th>
    </tr>
  </table>

  <div ng-if="section==0" ng-include src="'partials/MVP/incentiveDaily.html'" class="full"></div>
  <div ng-if="section==1" ng-include src="'partials/MVP/incentiveYesterday.html'" class="full"></div>
  <div ng-if="section==2" ng-include src="'partials/MVP/incentiveWeekly.html'" class="full"></div>
  <div class="center">
    <input type="button" class="smallRoundButton cyanBKG" ng-click="onReloadLocation()" value="Update location" />
  </div>
</div>
    <!-- END EDIT CONTENT -->
