<!--set different graphs to display-->
<div class="chartHolder smallDoughnut">
  <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
  <canvas id="doughnut" class="chart chart-doughnut"
    chart-data="[$storage.lavuStaff.lastWeek.totalIncentiveOrders, $storage.dailyHardIncentiveGoal - $storage.lavuStaff.lastWeek.totalIncentiveOrders]" chart-labels="labels" chart-options="options">
  </canvas> 
</div>

<div class="center">
<span>{{$storage.lavuStaff.lastWeek.totalIncentiveOrders / $storage.weeklyIncentiveGoal * 100| number:2 }}%</span>
<br>
<span class="smallFont">of {{$storage.incentive.name}} goal achieved</span>
<br>
</div>
<br>

<table class="dividerTable grayBKG">
  <tr class="center">
    <th class="smallFont">Goal</th>
    <th class="smallFont">Sales</th>
    <th class="smallFont">Projected End</th>
  </tr>
  <tr class="center">
    <td class="mediumFont" ng-init="callGetGoals()">{{$storage.weeklyIncentiveGoal}}</td>
    <td class="mediumFont">${{ $storage.lavuStaff.lastWeek.totalIncentiveSales }}</td>
    <td class="mediumFont">{{ $storage.dailyHardIncentiveProjection }}</td>
  </tr>
</table>

<select class="smallRoundButton" ng-model="$storage.incentive" ng-options="x.name for x in $storage.menugroups | orderBy:'toString()'" ng-change="updateIncentive()">

<button class="smallRoundButton grayBKG" ng-click="loadSalesData()">Refresh Data</button>
<div ng-include src="'partials/MVP/dailyStaffIncentive.html'"></div>