<!--set different graphs to display-->
<div class="chartHolder smallDoughnut">
  <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
  <canvas id="doughnut" class="chart chart-doughnut"
    chart-data="[$storage.lavuStaff.today.totalIncentiveOrders, $storage.dailyHardIncentiveGoal - $storage.lavuStaff.today.totalIncentiveOrders]" chart-labels="labels" chart-options="options">
  </canvas> 
</div>

<div class="center">
<span>{{$storage.lavuStaff.today.totalIncentiveOrders / $storage.dailyHardIncentiveGoal * 100| number:2 }}%</span>
<br>
<span class="smallFont">of {{$storage.incentive.name}} goal achieved</span>
<br>
<a data-toggle="modal" data-target="#myModal"><span class="smallFont" style="color:deepskyblue">Adjust goal</span></a>
</div>
<br>

<table class="dividerTable grayBKG centeredPaddedCell">
  <tr class="center">
    <th class="smallFont">Goal</th>
    <th class="smallFont">Sales</th>
    <th class="smallFont">Projected End</th>
  </tr>
  <tr class="center">
    <td class="mediumFont" ng-init="callGetGoals()">{{ $storage.dailyHardIncentiveGoal}}</td>
    <td class="mediumFont">${{ $storage.lavuStaff.today.totalIncentiveSales }}</td>
    <td class="mediumFont">{{ $storage.dailyHardIncentiveProjection }}</td>
  </tr>
</table>



<button class="smallRoundButton grayBKG" ng-click="loadSalesData()">Refresh Data</button>
<div ng-include src="'partials/MVP/dailyStaffIncentive.html'"></div>
<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->