<div class="noHeight" ng-include src="'partials/navbar.html'"></div>
  <header class="progressHeader">
    <h5 class="location-name">{{ $storage.locationData.name }}</h5>
    <h3 class="screen-heading">Performance</h3>
    <span class="xlargeFont screen-heading">{{dateRange}}</span>
  </header>

<br />
<div class="center">
  <img ng-click="scrubWeeks(-7)" src="assets/images/backArrow.png" width="15px" />
  <h4 class="keepInline">&nbsp;&nbsp;{{ formatDate($storage.scrubDateMin)}} - {{formatDate($storage.scrubDateMax)}}&nbsp;&nbsp;</h4>
  <!-- <h4 class="keepInline">{{ $storage.weekToDate.itemGroups[$storage.incentiveItem.id].count }} units to {{ $storage.weeklyIncentiveGoal }} weekly goal</h4> -->
  <!-- $storage.sales[$storage.salesDate].itemGroups[$storage.incentiveItem.id].count -->
  <img ng-click="scrubWeeks(7)" class="flip" src="assets/images/backArrow.png" width="15px" />
</div>

<br />

<table ng-if="$storage.currentWeek" class="dividerTable" ng-init="section = 'today';getDateRange(0)">
  <div class="tabs tabs-style-linemove">
  
  <tr class="smallFont bottomLine">

    <th ng-class="{'selected': section === 'today'}" ng-click="setSalesDate('TODAY');
     getDateRange(0); 
     section = 'today';
     $storage.thisWeek = false;">Today</th>
    <th ng-class="{'selected': section === 'yesterday'}" ng-click="setSalesDate('YESTERDAY'); getDateRange(1); 
    section = 'yesterday'; $storage.thisWeek = false;">Yesterday</th>
    <th ng-class="{'selected': section === 'this week'}" ng-click="setSalesDate('WEEKTODATE'); getDateRange(4); 
    section = 'this week'; $storage.thisWeek = false;">Week To Date</th>
    <th ng-class="{'selected': section === 'last week'}" ng-click="setSalesDate('LASTWEEK'); getDateRange(2);  
    section = 'last week'; getLastWeekData(); $storage.thisWeek = true;">Last Week</th>
    <th ng-class="{'selected': section === 'this month'}" ng-click="setSalesDate('MONTHLY');
    getDateRange(3);  
    section = 'this month';
    $storage.thisWeek = false;">Month to Date</th>
  </tr>
  </div>
  
</table>

<div ng-include src="'partials/MVP/sales/dailySales.html'" class="full"></div>

<!-- <button class="smallRoundButton grayBKG" ng-click="loadSalesData(true)">Refresh Data</button> -->