<div class="chartHolder padding">
  <canvas id="line" class="chart chart-line" chart-data="[$storage.lineActualSalesData, $storage.lineGoalsSalesData]"
  chart-labels="lineLabels" chart-series="lineSeries" chart-options="lineOptions"
  chart-dataset-override="lineDatasetOverride">
  </canvas>
</div>

<div ng-if="goalPeriod === 'this week'">
  <span class="xlargeFont center">{{ goalPeriod | capitalizeFirst }}'s total goal: {{$storage.weeklyScale|currency:undefined:0}}</span>
  <br>

  <input type="number" style="width:100%" class="xlargeFont center" id="weeklyGoalInput" value="{{ $storage.weeklySalesGoal }}" />
  <br>
  <div class="center tactics">
    <br>
      <table class="dividerTable">
        <tr>
          <td>Monday</td>
          <td><input type="number" class="mediumFont center" id="mondayGoalInput" ng-model="$storage.lineGoalsSalesData[0]" /></td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td><input type="number" class="mediumFont center" id="tuesdayGoalInput" ng-model="$storage.lineGoalsSalesData[1]"/></td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td><input type="number" class="mediumFont center" id="wednesdayGoalInput" ng-model="$storage.lineGoalsSalesData[2]"/></td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td><input type="number" class="mediumFont center" id="thursdayGoalInput" ng-model="$storage.lineGoalsSalesData[3]"/></td>
        </tr>
        <tr>
          <td>Friday</td>
          <td><input type="number" class="mediumFont center" id="fridayGoalInput" ng-model="$storage.lineGoalsSalesData[4]"/></td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td><input type="number" class="mediumFont center" id="saturdayGoalInput" ng-model="$storage.lineGoalsSalesData[5]"/></td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td><input type="number" class="mediumFont center" id="sundayGoalInput" ng-model="$storage.lineGoalsSalesData[6]"/></td>
        </tr>
      </table>
      <!-- <button type="button" class="btn btn-default" ng-click="callUpdateGoals()">Update</button> -->
  </div>
</div>

<div ng-if="goalPeriod === 'this month'">
  <span class="xlargeFont center">{{ goalPeriod | capitalizeFirst }}'s total goal:</span>
  <br>
  <input type="number" style="width:100%" class="xlargeFont center" id="monthlyGoalInput" value="{{ $storage.monthlySalesGoal | currency:undefined:0 | ifEmpty:0}}" />
  <br>
  <div class="center tactics">
    <br>
      <table>
        <tr>
          <td>Week 1</td>
          <td><input type="number" class="mediumFont center" id="week1GoalInput" ng-model="$storage.lineGoalsSalesData[0]" /></td>
        </tr>
        <tr>
          <td>Week 2</td>
          <td><input type="number" class="mediumFont center" id="week2GoalInput" ng-model="$storage.lineGoalsSalesData[1]"/></td>
        </tr>
        <tr>
          <td>Week 3</td>
          <td><input type="number" class="mediumFont center" id="week3GoalInput" ng-model="$storage.lineGoalsSalesData[2]"/></td>
        </tr>
        <tr>
          <td>Week 4</td>
          <td><input type="number" class="mediumFont center" id="week4GoalInput" ng-model="$storage.lineGoalsSalesData[3]"/></td>
        </tr>
        <tr>
          <td>Week 5</td>
          <td><input type="number" class="mediumFont center" id="week5GoalInput" ng-model="$storage.lineGoalsSalesData[4]"/></td>
        </tr>
      </table>
  </div>
</div>