<div class="noHeight" ng-include src="'partials/navbar.html'"></div>

  <header class="progressHeader">
    <h5 class="location-name">{{ $storage.locationData.name }}</h5>
    <h3 class="screen-heading">Staff Performance</h3>
  </header>

<table class="dividerTable" ng-init="section = 1">
  <tr class="smallFont bottomLine">
    <th ng-class="{'selected': section === 0}" ng-click="section = 0">Today</th>
    <th ng-class="{'selected': section === 1}" ng-click="section = 1">Yesterday</th>
    <th ng-class="{'selected': section === 2}" ng-click="section = 2">Last Week</th>
    <th ng-class="{'selected': section === 3}" ng-click="section = 3">Monthly</th>
  </tr>
</table>

<div ng-if="section==0" ng-include src="'partials/MVP/staffDaily.html'" class="full"></div>
<div ng-if="section==1" ng-include src="'partials/MVP/staffYesterday.html'" class="full"></div>
<div ng-if="section==2" ng-include src="'partials/MVP/staffWeekly.html'" class="full"></div>
<div ng-if="section==3" ng-include src="'partials/MVP/staffMonthly.html'" class="full"></div>

<button ng-click="onCallLavu()">Refresh Data</button>