<div class="container">
    <!-- START EDIT CONTENT -->
    <div class="row">
        <div>
            <!-- START Basic Example Table -->
            <table class="table">
            <table class="tableEmployeeStat">
              <thead>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m smallFont">
                        <strong>
                            Staff Name
                        </strong>
                        </td>
                        <td class="v-a-m smallFont">
                        <strong>
                            <a ng-click="orderByField='sales'; reverseSort = !reverseSort">
                                Total Sales 
                            </a>
                        </strong>
                        </td>
                        <td class="v-a-m smallFont">
                        <strong>
                            <a ng-click="orderByField='orders'; reverseSort = !reverseSort">
                                Total Checks 
                            </a>
                        </strong>
                        </td>
                        <td class="v-a-m smallFont">
                        <strong>
                            <a ng-click="orderByField='avgTicket'; reverseSort = !reverseSort">
                                Avg. Ticket 
                            </a>
                        </strong>
                        </td>
                        <td class="v-a-m smallFont">
                        <strong>
                            <a ng-click="orderByField='percentToAvg'; reverseSort = !reverseSort">
                                % Above/Below 
                            </a>
                        </strong>
                        </td>
                    </tr> 
                </thead>
                <tbody>
                    <tr ng-repeat="staffInfo in $storage.lavuStaff.yesterday | orderObjectBy:orderByField:true " class="tableEmployeeStat" >
                     <!-- <tr ng-repeat="staffInfo in fullStaff.staff | filter:staffLocation |orderBy:orderByField:reverseSort" class="tableEmployeeStat" ng-click="openStaff(staffInfo.firstName + ' ' + staffInfo.lastName, 3)"> -->

                         <td class="v-a-m">
                            <span class="smallFont"><b>{{staffInfo.name}}</b></span>              
                        </td>
                        <td class="v-a-m"> 
                            <span class="smallFont">${{staffInfo.sales}}</span>
                        </td>
                        <td class="v-a-m"> 
                            <span class="smallFont">{{staffInfo.orders}}</span>
                        </td>
                        <td class="v-a-m"> 
                            <span class="smallFont">${{staffInfo.sales / staffInfo.orders | number:2}}</span>
                        </td>
                        <td class="v-a-m"> 
                            <span class="smallFont">{{(((staffInfo.sales / staffInfo.orders) / $storage.lavuStaff.yesterdayAverageTicket) * 100) - 100 | number:2}}%</span>
                        </td>
                        
                    </tr>
                </tbody>
                <span></span>
            </table>
            </table>
        </div>
    </div>
</div>
