<div class="noHeight" ng-include src="'partials/navbar.html'"></div>

  <header class="progressHeader">
    <h5 class="location-name">{{ $storage.locationData.name }}</h5>
    <h3 class="screen-heading">Tips</h3>
    <span class="xlargeFont screen-heading">{{dateRange}}</span>
  </header>
<!--<span>where are my hourly insides? {{$storage.location}}</span>-->
<!-- Insights -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Hourly Insights</b></span>
    <div class="boxed ">
      <span class="smallFont">Beverages made up at least 30% of sales for weeks with higher average ticket. Consider targeting drink sales of 35%+ a percentage of sale!"</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div>
<!-- Suggested -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Suggested Incentives</b></span>
    <div class="boxed ">
      <div>
        <span>Consider selling {{$storage.tacticsGoal}} units of {{$storage.tacticsItem}}</span>
      </div>
      <button ng-if="$storage.incentiveAccepted==0" type="button" class="btn btn-default" ng-click="updateSuggestedIncentive()">Accept Incentive</button>
      <button ng-if="$storage.incentiveAccepted==1" type="button" class="btn btn-default" ><a href="#!home">Track Incentive</a></button>&nbsp;<img ng-if="$storage.incentiveAccepted==1" src="assets/images/checkmark.png" height="20px" width="20px"/>
    </div>
  </div> <!-- End Insights -->
<br>
</div>

<!-- Insights -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Weekly Insights</b></span>
    <div class="boxed ">
      <span class="smallFont">Your highest average ticket week was August week 2 ($71), due to high sales of Grill and Rotisserie items and incremental sales from breakast and lunch."</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div>


