<div class="chartHolder doughnutSize">
  <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
  <canvas ng-if="$storage.dailyHardGoal - $storage.lavuStaff.yesterdayTotalSales > 0" id="doughnut" class="chart chart-doughnut"
    chart-data="[$storage.lavuStaff.yesterdayTotalSales, $storage.dailyHardGoal - $storage.lavuStaff.yesterdayTotalSales]"  chart-labels="['Yesterday Total Sales', 'Difference From Goal']" chart-options="options">
  </canvas> 
  <canvas ng-if="$storage.dailyHardGoal - $storage.lavuStaff.yesterdayTotalSales <= 0" id="doughnut" class="chart chart-doughnut"
    chart-data="[$storage.lavuStaff.yesterdayTotalSales, $storage.lavuStaff.yesterdayTotalSales - $storage.dailyHardGoal]"  chart-labels="['Yesterday Total Sales', 'Amount Exceeding Goal']" chart-options="options">
  </canvas> 
</div>
<div class="center">
  <span class="smallFont">{{$storage.lavuStaff.yesterdayTotalSales / $storage.hardDailyGoal * 100| number:2 }}%</span> <br>
  <span class="smallFont">of goal achieved</span> 
</div>

  <table class="dividerTable smallFont">  
    <thead>
      <tr class="tableEmployeeStat">
        <th>Category</th>
        <th>Sales</th>
        <th>Item Count</th>
        <th>% of Total Sales</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tableEmployeeStat" ng-repeat="category in $storage.lavuStaff.yesterday.categories">
        <td>{{category.name}}</td>
        <td>${{category.sales}}</td>
        <td>{{category.orders}}</td>
        <td>{{ (category.sales / $storage.lavuStaff.yesterdayTotalSales) * 100 | number:2}}
      </tr>
  
    </tbody>
  </table>
  <br>
<!-- Insights -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Thought of the Day</b></span>
    <br>
    <br>
    <div class="boxed ">
      <span class="smallFont">{{$storage.fullTactics.tactics[0].tips.thoughtOfTheDay}}</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div

