.progressHeader {
	text-align: center;
	margin-top: -25px;
}

.chartHolder {
	text-align: center;
}
.tableEmployeeStat {
	width: 100%;
	table-layout: fixed;
	border: none;
	border-collapse: collapse;
	border-bottom: 1px solid #dcdcdc;
}
.tableEmployeeStat td { 
	width: 33%;
	text-align: center; 
}

.tableEmployeeStat td, .tableEmployeeStat th{
	border: none;
}
.topRight{
	vertical-align: text-top;
	text-align: right;
}
.v-a-m {
  	vertical-align: middle !important; 
  	border: none;
}
.center {
	text-align: center;
}
.equalSpace{
	line-height: 1.5;
}
.xlargeFont {
	font-size: x-large;
}
.mediumFont {
	font-size: medium;
}
.smallFont {
	font-size: small;
}

.tactics {
	background-color: #f4f4f4;
}

.selected {
	background-color: #4acde2;
}

#myChart {
	display: block;
	margin: 0 auto;
}
.boxed {
    margin: auto;
    width: 80%;
    border: none;
    padding: 10px;
    background-color: #fff;
}
.boxedColor {
    margin: auto;
    width: 30%;
    border: none;
}
.dividerTable { 
	width: 100%;
	table-layout: fixed;
	border: none;
	border-collapse: collapse;
}

.dividerTable td, .dividerTable th{
	width: 33%;
	text-align: center; 
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}
.bottomLine{
	border-bottom: 1px solid #dcdcdc;
}


table td:first-child, table th:first-child {
border-left: none;
}

table td:last-child, table th:last-child {
border-right: none;
}

.tactics {
	background-color: #f4f4f4;
}

.selected {
	background-color: #4acde2;
}

.grayBKG {
	background-color: #f4f4f4;
	flex-grow: 1;
}

.cyanBKG {
	background-color: #4acde2;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}

html,
body {
	height: 100%;
	margin: 0;
}

.full {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.footer {
	padding-bottom: 10px;
}

.nextButton {
	background-color: #4acde2;
	border-radius: 10px;
	margin: 20px;
}

.noBreak {
	display: inline;
}

.padding {
	padding: 0px 10px;
	width: 100%;
}

.pull-left {
	text-align: left;
	padding-left: 20px;
}

.pull-right {
	text-align: right;
	padding-right: 20px;
}

.areaClass {
	width: 100%;
	padding: 0px 10px;
}