.progress {
	text-align: center;
	margin-top: -25px;
}

.chartHolder {
	text-align: center;
}
.tableEmployeeStat {
	border-bottom: 1px solid #dcdcdc;	
}
.v-a-m {
  	vertical-align: middle !important; 
  	border:none;
}
.center {
	text-align: center;
}
.mediumFont {
	font-size: medium;
}
.smallFont {
	font-size: small;
}

#myChart {
	display: block;
	margin: 0 auto;
}

table { 
	width: 100%;
	table-layout: fixed;
	border: none;
	border-collapse: collapse;
}

td { width: 33%;
	text-align: center; }

table td, table th{
border-left: 1px solid #dcdcdc;
border-right: 1px solid #dcdcdc;
}

table td:first-child, table th:first-child {
border-left: none;
}

table td:last-child, table th:last-child {
border-right: none;
}

.tactics {
	background-color: #f4f4f4;
}

.selected {
	background-color: #4acde2;
}
