.sparkley {

  background: lighten( $buttonBackground , 10% );
}

.absolute{
	height: 50%;
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .foo {
    height: 1024px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .foo {
    height: 768px;
  }
}
.absolute .innerGraph{
	text-align: center;
	top:0%;
}
.absolute .innerText{
	display:inline-block;
	position: relative;
	top:-16vw;
}
.roundBox {
	background-color: #f4f4f4;
	border: 1px solid black;
}
.roundBox .roundBoxed{
	border: 1px solid black;
}
.roundBox div{
	background-color: white;
}
.progressHeader {
	text-align: center;
	/*margin-top: -25px;*/
	background: linear-gradient(#43ccff,#4acde2);
	color: #ffffff;
	border-width: 2px;
	border-bottom: 1px #9b9b9b solid;
	
	padding-top: 10px;
	padding-bottom: 30px;
}

.progressHeader .location-name {
	margin-bottom: 0;
	font-weight: normal;
	text-transform: uppercase;
	opacity: 0.8;
}
.progressHeader .screen-heading {
	margin-top: 0;
}

.loading {
	text-align: center;
}
.loading img {
	height: 75px;
	width: 75px;
}

.noHeight  {
	height: 0px;
}


.flip {
	transform: scaleX(-1);
}

.keepInline {
	display: inline;
}

.location {
	cursor: pointer;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 2px;
	background: #ececec;
	border: 1px solid mediumgray;
	text-align: left;
}

.search {
	padding-left: 20px;
	padding-right: 20px;
}
.noPaddingTable{
	width: 100%;
	padding: 0px !important;
	line-height: 8px;
	border: none;
	table-layout: fixed;
}
.chartHolder {
	text-align: center;
	padding:0;
	margin: auto;
	width:50%;
	height: 50%;
}
.tableEmployeeStat {
	width: 100%;
	table-layout: fixed;
	border: none;
	border-collapse: collapse;
}
.tableEmployeeStat td { 
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	border: none;
}
.alignLeft{
	text-align: left !important;
}

.tableEmployeeStat td, .tableEmployeeStat th{
	border: none;
}
.shadow{
	box-shadow: 0 0 1em black;
}
/*.tableEmployeeStat tr:nth-child(even) {
    background-color: #F0F8FF;
    border-bottom: none;
}
.tableEmployeeStat tr:nth-child(odd) {
	border-bottom: none;
}
.tableEmployeeStat .innerTable{
	background-color: white;
}*/
.alternateBlocks:nth-of-type(2n+1) { 
	/*background-color: #F0F8FF;*/
	background: linear-gradient(#FAFFFF,#E6EFF5);

}

.topRight{
	vertical-align: text-top;
	text-align: right;
}
.bottomCenter{
	vertical-align: text-bottom;
	text-align: center;
}
.left{
	vertical-align: center;
	text-align: left;
}
.right{
	vertical-align: center;
	text-align: right;
}
.v-a-m {
  	vertical-align: center; 
  	border: none;
}
.center {
	text-align: center;
}
.equalSpace{
	line-height: 1.5;
}
.xlargeFont {
	font-size: x-large;
}
.largeFont {
	font-size: large;
}
.mediumFont {
	font-size: medium;
}
.smallFont {
	font-size: small;
}

.tactics {
	background-color: #f4f4f4;
}

.selected {
	
	color:white;
	background-color: #4acde2; /* 2 */

  	/*border-bottom: 6px solid #4acde2; /* 1 */
  	
  
}

#myChart {
	display: block;
	margin: 0 auto;
}
.button{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.boxed {
    margin: auto;
    width: 80%;
    border: none;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
}
textarea {
    resize: none;
}
.boxedColor {
    margin: auto;
    width: 30%;
    border: none;
}
.dividerTable { 
	width: 100%;
	table-layout: fixed;
	border: none;
	border-collapse: collapse;
	background-color: #f4f4f4;
}
.dividerTableNoColor { 
	width: 100%;
	table-layout: fixed;
	border: none;
	border-collapse: collapse;
}


.smallRoundButton {
	border-radius: 10px;
    padding: 5px;
    width: 30%;
    margin: 5px auto;
    border-width: 0px;
}

.centeredPaddedCell {
	padding: 5px;
	margin: 5px auto;
}



.dividerTable td, .dividerTable th{
	width: 33%;
	text-align: center; 
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dividerTableNoColor td, .dividerTableNoColor th{
	width: 33%;
	text-align: center; 
	
	padding-top: 10px;
	padding-bottom: 10px;
}
.subTable { 
	width: 100%;
	table-layout: fixed;
	border: none;
	border-collapse: collapse;
}

.subTable td, .subTable th{
	width: 33%;
	text-align: center; 
	border: none;
}
.bottomLine{
	border-bottom: 1px solid #dcdcdc;
}
.doughnutSize{
	width: 50%;
	max-height: 50%;
	 box-sizing: border-box;
}

table td:first-child, table th:first-child {
border-left: none;
}

table td:last-child, table th:last-child {
border-right: none;
}

.tactics {
	background-color: #f4f4f4;
}

.shadow{
	-webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
}

.grayBKG {
	background-color: #f4f4f4;
	flex-grow: 1;
}
.cyanBKG {
	background-color: deepskyblue;
}

.lightblueBKG {
	background-color: #C2DFFF;
}
.headerBKG {
	background-color: #4acde2;
}
.whiteBKG {
	background-color: #ffffff;
}

tr.spaceUnder>td {
  padding-bottom: 2em;
}


html,
body {
	height: 100%;
	margin: 0;
}

.full {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.colCenter {
	margin: auto;
}

.footer {
	padding-bottom: 10px;
}

.nextButton {
	background-color: #4acde2;
	border-radius: 10px;
	margin: 20px;
}

.noBreak {
	display: inline;
}
.smallDoughnut {
	width: 45%;
}
.padding {
	padding: 0px 10px;
	width: 100%;
}

.pull-left {
	text-align: left;
	padding-left: 20px;
}

.pull-right {
	text-align: right;
	padding-right: 20px;
}

.areaClass {
	width: 100%;
	padding: 0px 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.padded{
	width: 80%;
	text-align: center; 
}
.hrRule {
	width: 100%;
	border-width: 2px;
}
