<div ng-if="loading" ng-include="'partials/loading.html'"></div>

<h4 class="center xlargeFont">{{ $storage.sales[$storage.salesDate].totalSales | currency:undefined:0 }} / {{ $storage.goals[$storage.salesDate].value | currency:undefined:0 }}</h4>

<div class="chartHolder absolute">
  <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
  <canvas ng-if="$storage.goals[$storage.salesDate].value - $storage.sales[$storage.salesDate].totalSales > 0" id="doughnut" class="chart chart-doughnut" style="width: 50%"
      chart-data="[$storage.sales[$storage.salesDate].totalSales, $storage.goals[$storage.salesDate].value - $storage.sales[$storage.salesDate].totalSales]"  chart-labels="['Period Total Sales', 'Difference From Goal']" chart-options="donutOptions" chart-colors="['#46C646', '#D3D3D3']">
  </canvas> 
  
  <canvas ng-if="$storage.goals[$storage.salesDate].value - $storage.sales[$storage.salesDate].totalSales <= 0" id="doughnut" class="chart chart-doughnut"
    chart-data="[$storage.sales[$storage.salesDate].totalSales]" chart-labels="['Period Total Sales', 'Amount Exceeding Goal']" chart-options="donutOptions" chart-colors="['#46C646','#46C646']">
  </canvas> 
  <div class="innerText"><span class="xlargeFont" style="color:deepskyblue">{{$storage.sales[$storage.salesDate].totalSales / $storage.goals[$storage.salesDate].value * 100| number:0 }}% </span><br> 
  <span class="smallFont">of goal achieved</span>
    <a data-toggle="modal" data-target="#myModal"> <br>
      <span class="smallFont" style="color:deepskyblue">Adjust goal</span>
    </a>
  </div>
</div>

<div class="center">
  <!-- <h4>Total Sales: {{ $storage.sales[getSalesDate()].totalSales | currency }}</h4> -->
  <!-- <span class="smallFont">{{$storage.sales[getSalesDate()].totalSales / $storage.dailyHardGoal * 100| number:0 }}% of goal achieved</span> <br> -->
</div>
  <table class="dividerTable" ng-init="level = 0;">
    <tr class="smallFont bottomLine">
      <th ng-class="{'selected': level === 0}" ng-click="level = 0">Super Groups</th>
      <th ng-class="{'selected': level === 1}" ng-click="level = 1">Groups</th>
    </tr>
  </table>
  <br>

  <table class="dividerTableNoColor smallFont" ng-if="level === 0">  
    <thead>
      <tr class="tableEmployeeStat">
        <th >Super Group</th>
        <th ng-click="orderByField='sales'" style="color:deepskyblue">Sales
          <span ng-show="orderByField == 'sales'">v</span>
        </th>
        <th ng-click="orderByField='count'" style="color:deepskyblue">Tickets
          <span ng-show="orderByField == 'count'">v</span>
        </th>
        <th ng-click="orderByField='%'" style="color:deepskyblue">% of Total
          <span ng-show="orderByField == '%'">v</span>
        </th>
      </tr>
    </thead>
    <tbody class = dividerTable>
      <tr class="tableEmployeeStat" ng-repeat="object in $storage.sales[$storage.salesDate].superGroups | orderObjectBy:orderByField:true">
        <td>{{object.name}}</td>
        <td>{{object.sales | currency:undefined:0 }}</td>
        <td>{{object.count}}</td>
        <td>{{ (object.sales / $storage.sales[$storage.salesDate].totalSales) * 100 | number:0}}%</td>
      </tr>
  
    </tbody>
  </table>

  <table class="dividerTableNoColor smallFont" ng-if="level === 1">  
    <thead>
      <tr class="tableEmployeeStat">
        <th>Group</th>
        <th ng-click="orderByField='sales'" style="color:deepskyblue">Sales
          <span ng-show="orderByField == 'sales'">v</span>
        </th>
        <th ng-click="orderByField='count'" style="color:deepskyblue">Tickets
          <span ng-show="orderByField == 'count'">v</span>
        </th>
        <th ng-click="orderByField='%'" style="color:deepskyblue">% of Total
          <span ng-show="orderByField == '%'">v</span>
        </th>
      </tr>
    </thead>
    <tbody class="dividerTable">
      <tr class="tableEmployeeStat" ng-repeat="object in $storage.sales[$storage.salesDate].groups">
        <td>{{object.name}}</td>
        <td>{{object.sales | currency:undefined:0 }}</td>
        <td>{{object.count}}</td>
        <td>{{ (object.sales / $storage.sales[$storage.salesDate].totalSales) * 100 | number:0}}%</td>
      </tr>
  
    </tbody>
  </table>

  <br />
  
  
<button class="button grayBKG" ng-click="loadSalesData(true)">Refresh Data</button>


<!-- Insights -->
<!-- <div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Thought of the Day</b></span>
    <br>
    <br>
    <div class="boxed ">
      <span class="smallFont">{{$storage.fullTactics.tactics[0].tips.thoughtOfTheDay}}</span>
    </div>
  </div>
<br>
</div> -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header headerBKG">
        <h4 class="modal-title center xlargeFont" style="color:white">{{section | capitalizeFirst}}'s Goal: {{$storage.goals[$storage.salesDate].value}}</h4>
      </div>
      <br>
      <div class="modal-body center tactics">
      <table class="dividerTable" ng-init="goalPeriod = 'this week';">
  <tr class="smallFont bottomLine">
    <th ng-class="{'selected': goalPeriod === 'this week'}" ng-click="goalPeriod = 'this week'; onAdjustGoals(0)">This Week</th>
    <th ng-class="{'selected': goalPeriod === 'this month'}" ng-click="goalPeriod = 'this month'; onAdjustGoals(1)">This Month</th>
  </tr>
</table>
        <div ng-include="'partials/MVP/setSalesGoal.html'"></div>
      
      <!-- <span class="largeFont center">New Goal</span>
      <br>
        <input type="number" class="center" id="salesGoalInput" />
      </div> -->
      <div class="modal-footer headerBKG">
        <button type="button" class="btn btn-default" ng-if="goalPeriod === 'this week'" ng-click="callUpdateWeekGoals()">Update</button>
        <button type="button" class="btn btn-default" ng-if="goalPeriod === 'this month'" ng-click="callUpdateMonthGoals()">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

