<br><br>
<div class="full">
	<a ng-click="back()">
		<img src="assets/images/backArrow.png" height="30px" width="30px" />
	</a>
	<div class="center">
		<img height="150px" src="assets/images/emptyAvatar2.png" />
		<h2>{{$storage.staffInfo.firstName + " " + $storage.staffInfo.lastName}}</h2>
		<span>{{dateRange}}</span>
	</div>
	
	<div class="grayBKG">
	<br>
		<table class="tableEmployeeStat">
			<tr style="color:darkgrey">
				<td>Total Sales</td>
				<td>Total Orders</td>
			</tr>
			<tr class="spaceUnder">
				<td>{{$storage.staffInfo.totalSales|currency:undefined:0}}</td>
				<td>{{$storage.staffInfo.totalOrders}}</td>
			</tr>

			<tr style="color:darkgrey">
				<td>Revenue / Guest to Average</td>
				<td>Tip %</td>
			</tr>
			<tr class="spaceUnder">
			<!-- not sure if this is the correct number -->
				<td>${{$storage.staffInfo.totalSales / $storage.staffInfo.totalOrders | number:0}}</td>
				<td></td> <!-- fill in -->
			</tr>

			<tr style="color:darkgrey">
				<td>Items / Order</td>
				<td>Order Time</td>
			</tr>
			<tr class="spaceUnder">
				<td>{{ $storage.staffInfo.totalItems / $storage.staffInfo.totalOrders | number:0 }}</td> <!-- fill in -->
				<td ng-if="(($storage.staffInfo.totalMilli / 1000) / $storage.staffInfo.totalOrders) >= 60">{{ (($storage.staffInfo.totalMilli / 1000) / 60) / $storage.staffInfo.totalOrders | number:0}} Minutes</td>
				<td ng-if="(($storage.staffInfo.totalMilli / 1000) / $storage.staffInfo.totalOrders) < 60">{{ ($storage.staffInfo.totalMilli / 1000) / $storage.staffInfo.totalOrders | number:0}} Seconds</td>
			</tr>
		</table>
		<br>
	</div>

</div>