<div class="container">
    <!-- START EDIT CONTENT -->
    <div class="row">
        <div>
            <!-- START Basic Example Table -->
            <table class="table">
            <table class="tableEmployeeStat">
              <thead>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m smallFont">
                        <strong>
                            Staff Name
                        </strong>
                        </td>
                        <td class="v-a-m smallFont">
                        <strong>
                            <a ng-click="orderByField='monthly.currentProgress'; reverseSort = !reverseSort">
                                Total Sales 
                                <span ng-show="orderByField == 'currentProgress'">
                                    <span ng-show="!reverseSort">^</span>
                                    <span ng-show="reverseSort">v</span>
                                </span>
                            </a>
                        </strong>
                        </td>
                        <td class="v-a-m smallFont">
                        <strong>
                            <a ng-click="orderByField='monthly.checks'; reverseSort = !reverseSort">
                                Total Checks 
                                <span ng-show="orderByField == 'checks'">
                                    <span ng-show="!reverseSort">^</span>
                                    <span ng-show="reverseSort">v</span>
                                </span>
                            </a>
                        </strong>
                        </td>
                        <td class="v-a-m smallFont">
                        <strong>
                            <a ng-click="orderByField='monthly.averageTicket'; reverseSort = !reverseSort">
                                Avg. Ticket 
                                <span ng-show="orderByField == 'averageTicket'">
                                    <span ng-show="!reverseSort">^</span>
                                    <span ng-show="reverseSort">v</span>
                                </span>
                            </a>
                        </strong>
                        </td>
                        <td class="v-a-m smallFont">
                        <strong>
                            <a ng-click="orderByField='monthly.percentToAvg'; reverseSort = !reverseSort">
                                % to Avg.
                                <span ng-show="orderByField == 'percentToAvg'">
                                    <span ng-show="!reverseSort">^</span>
                                    <span ng-show="reverseSort">v</span>
                                </span>
                            </a>
                        </strong>
                        </td>
                    </tr> 
                </thead>
                <tbody>
                    <tr ng-repeat="staffInfo in $storage.staffSales[$storage.salesDate]" class="tableEmployeeStat" >
                         <td class="v-a-m">
                            <span class="smallFont"><b>{{staffInfo.firstName}} {{staffInfo.lastName}}</b></span>              
                        </td>
                        <td class="v-a-m"> 
                            <span class="smallFont">{{staffInfo.totalSales | currency}}</span>
                        </td>
                        <td class="v-a-m"> 
                            <span class="smallFont">{{staffInfo.totalOrders}}</span>
                        </td>
                        <td class="v-a-m"> 
                            <span class="smallFont">${{staffInfo.totalSales / staffInfo.totalOrders | number:2}}</span>
                        </td>
                        <td class="v-a-m"> 
                            <span class="smallFont">{{(((staffInfo.totalSales / staffInfo.totalOrders) / $storage.sales[$storage.salesDate].averageOrderPrice) * 100) - 100 | number:2}}%</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            </table>
        </div>
    </div>
</div>
