<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Average Check Overall</b></span>
    <div class="boxed ">
      <span class="smallFont">{{$storage.sales[$storage.salesDate].averageOrderPrice|currency:undefined:0}}</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div>
<table class="tableEmployeeStat">
    <tbody>
        <tr ng-repeat="staffInfo in $storage.staffSales[$storage.salesDate]" class="alternateBlocks"  ng-click="openStaff(staffInfo)">
            <td class="v-a-m">
                <img height='70px' ng-src="assets/images/marianethiel.png" hspace='20'/>
            </td>
            <td colspan="3">
                <table>
                    <tr>
                        <td class="mediumFont">{{staffInfo.firstName}} {{staffInfo.lastName}}</td>
                    </tr>
                    <tr>
                        <table class="noPaddingTable">
                            <tr>
                                <td class="alignLeft" style="color:grey; font-size: small;">Sales</td>
                                <td></td>
                                <td class="alignLeft" style="color:grey; font-size: small">Revenue / Guest</td>
                            </tr>
                            <tr>
                                <td class="alignLeft" style="font-size: small;">{{staffInfo.totalSales | currency:undefined:0}}</td>
                                <td></td>
                                <td class="alignLeft" style="font-size: small;">{{(((staffInfo.totalSales / staffInfo.totalOrders) / $storage.sales[$storage.salesDate].averageOrderPrice) * 100) - 100 | number:0}}%</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="alignLeft" style="color:grey;font-size: small;">to Average</td>
                            </tr>
                        </table
                    </tr>
                </table>
            
            </td>
        </tr>
    </tbody>
</table>
            <!--<td class="v-a-m"> 
                <span class="smallFont">{{staffInfo.totalSales | currency:undefined:0}}</span>
            </td>
            <td class="v-a-m"> 
                <span class="smallFont">{{staffInfo.totalOrders}}</span>
            </td>
            <td class="v-a-m"> 
                <span class="smallFont">${{staffInfo.totalSales / staffInfo.totalOrders | number:0}}</span>
            </td>
            <td class="v-a-m"> 
                <span class="smallFont">{{(((staffInfo.totalSales / staffInfo.totalOrders) / $storage.sales[$storage.salesDate].averageOrderPrice) * 100) - 100 | number:0}}%</span>
            </td>

            <tr><td>Sales</td></tr>
                    <tr><td>{{staffInfo.totalSales|currency:undefined:0}}</td></tr>
                </table>
            </td>
                <table>
                    <tr><td></td></tr>
                    <tr><td>Rev/Guest</td></tr>
                    <tr><td>{{(((staffInfo.totalSales / staffInfo.totalOrders) / $storage.sales[$storage.salesDate].averageOrderPrice) * 100) - 100 | number:0}}%</td></tr> 
                </table>

            -->
       