<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Avg. Revenue / Guest Overall</b></span>

    <div class="boxed ">
        <span class="smallFont">{{ $storage.sales[$storage.salesDate].totalSales / $storage.sales[$storage.salesDate].totalGuests | currency:undefined:0 }}</span>
      <!-- <span class="smallFont">{{$storage.sales[$storage.salesDate].averageOrderPrice|currency:undefined:0}}</span> -->
    </div>
  </div> <!-- End Insights -->
<br>

<!--<label class="switch">
  <input type="checkbox" ng-click ="toggleSort =! toggleSort">
  <span class="slider round"></span>
</label>-->

</div>
<span>{{orderByField}}</span>
<table class="tableEmployeeStat">
    <thead>
        <td></td>
        <th colspan="2" style="color:#4acde2" ng-click="orderByField='totalSales'">Sort
            <span ng-if="orderByField=='totalSales'"> ٧ </span>
        </th>
        
        <th style="color:#4acde2" ng-click="orderByField='revenue'" >Sort
            <span ng-if="orderByField=='revenue'"> ٧ </span>
        </th>

    </thead>
    <tbody>
        <tr ng-repeat="staffInfo in $storage.staffSales[$storage.salesDate] | orderObjectBy:orderByField:true" class="alternateBlocks" ng-click="openStaff(staffInfo)">
            <td class="v-a-m">
                <img height='70px' ng-src="assets/images/emptyAvatar2.png" hspace='20'/>
            </td>
            <td colspan="3">
                <table>
                    <tr>
                        <td class="mediumFont">{{staffInfo.firstName}} {{staffInfo.lastName}}</td>
                    </tr>
                    <tr>
                        <table class="noPaddingTable">
                            <tr>
                                <td class="alignLeft" style="color:grey; font-size: small;">Sales</td>
                                <td></td>
                                <td class="alignLeft" style="color:grey; font-size: small">$ / Guest</td>
                            </tr>
                            <tr>
                                <td class="alignLeft" style="font-size: small;">{{staffInfo.totalSales | currency:undefined:0}}</td>
                                <td></td>
                                <td class="alignLeft" style="font-size: small;">
                                    <span ng-if="(((staffInfo.totalSales / staffInfo.totalGuests) / ($storage.sales[$storage.salesDate].totalSales / $storage.sales[$storage.salesDate].totalGuests)) * 100) - 100 > 0">+</span>{{(((staffInfo.totalSales / staffInfo.totalGuests) / ($storage.sales[$storage.salesDate].totalSales / $storage.sales[$storage.salesDate].totalGuests)) * 100) - 100 | number:0 }}%</td>
                                <!-- <td class="alignLeft" style="font-size: small;">{{(((staffInfo.totalSales / staffInfo.totalOrders) / $storage.sales[$storage.salesDate].averageOrderPrice) * 100) - 100 | number:0}}%</td> -->
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="alignLeft" style="color:grey;font-size: small;">to Average</td>
                            </tr>
                        </table
                    </tr>
                </table>
            
            </td>
        </tr>
    </tbody>
</table>