<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Coloured Forms Widget Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Coloured Forms Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="views/pages/googlesheets.js"></script>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
</head>
<body>
	<div class="main">
		<h1>Coloured Forms Widget</h1>
		<div class="agile_main_grid">
			<div>
			<!-- <div class="w3_agile_main_left"> -->
				<!-- signin -->
				<div class="w3l_main_grid1_w3ls_grid">
					<div class="w3_agile_main_left_grid_w3_agileits">
					<h3>Revenue</h3>
						<h6>Look at this data</h6>
						<form action="#" method="post">
							<div class="agileits_w3layouts_user">
								<p>Revenue: </p>
								<input type="text" id="revenuebox" name="Name" placeholder="User Name" required="">
							</div>
							<div class="agileits_w3layouts_user">
								<input type="password" name="Password" placeholder="Password" required="">
							</div>
							<div class="agile_remember">
								<div class="agile_remember_left">
									<div class="check">
										<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>remember me</label>
									</div>
								</div>
								<div class="agile_remember_right">
									<a href="#">Forgot Password?</a>
								</div>
								<div class="clear"> </div>
							</div>
							<input type="submit" class="violet" value="Sign In">
							<h5>Don't have an account? <a href="#">Sign Up</a></h5>
						</form>
					</div>
					<div class="w3l_main_agile">
						<ul>
							<li><label class="pink"></label></li>
							<li><label class="green"></label></li>
							<li><label class="violet"></label></li>
							<li><label class="yellow"></label></li>
							<li><label class="blue"></label></li>
							<div class="clear"> </div>
						</ul>
					</div>
				</div>
				<!-- //signin -->
				
			</div>
			<div class="clear"> </div>
		</div>
		<div class="agileits_copyright">
			<p>© 2017 Coloured Forms Widget. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</body>
</html>