<!DOCTYPE html>

<html lang="en">

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>Pocket Goals</title>

  <link rel="stylesheet" href="../assets/stylesheets/navbarCss.css"> <!--this ref is wrong-->
  <link rel="stylesheet" href="../assets/stylesheets/home.css">

  <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
  <script src="assets/javascript/home.js"></script>

  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
  <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

 

</head>

<body>

<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--    All rights reserved    -->
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="/"><li>Home</li></a>
      <a href="history.html"><li>History</li></a>
      <a href="#"><li>Insights</li></a>
    </ul>
  </div>
</nav>

<header class="progress">
  <h2>
    Your Progress
  </h2>
</header>

<div class="chartHolder">
  <canvas id="myChart" width="200" height="200"></canvas>
</div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: [40, 60]
        }]
    },
    options: {
      responsive: false
    }
});
</script>

<div class="center">
<br />
40% <br />
Of goal achieved <br />
Adjust goal
</div>

<table style="width:100%">
  <tr class="center">
    <th>Goals</th>
    <th>Current</th>
    <th>Projected End</th>
  </tr>
  <tr class="center">
    <td>$4,300</td>
    <td>$1,700</td>
    <td>$2,600</td>
  </td>
</table>

<div class="center tactics">
  <br/>
    <span>Tactical goal </span><br />
  Earn $750 in dessert sales <br />
  <br />
  Adjust goals

</div>

<button>Notify</button>

<!-- Notification div -->
<div style="display: none;">
  No
</div>

<div class="container">
    <!-- START EDIT CONTENT -->

    <div class="row">
        <div">
        <br>
            <!-- START Basic Example Table -->
            <table class="table">
            <table class="tableEmployeeStat">
              <thead>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m smallFont"><strong>Staff</strong>
                        </td>
                        <td class="v-a-m smallFont"><strong>Avg. Ticket</strong>
                        </td>
                        <td class="v-a-m smallFont"><strong>Order #</strong>
                        </td>
                    </tr> 
                </thead>
                <tbody>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Mariane Thiel</b></span>
                            <br>                          
                            <span class="smallFont">$143.00/$200</span>
                        </td>
                        <td class="v-a-m"> 
                        <span class="smallFont">Ticket</span>
                        <br>
                        <span class="smallFont">$12.30</span>
                        </td>
                        <td class="v-a-m"><span class="smallFont" style="color:deepskyblue">View</span>
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Logan Dawson</b></span>
                            <br>                          
                            <span class="smallFont">$99.58/$300</span>
                        </td>
                        <td class="v-a-m"> 
                        <span class="smallFont">Ticket</span>
                        <br>
                        <span class="smallFont">$14.30</span>
                        </td>
                        <td class="v-a-m"><span class="smallFont" style="color:deepskyblue">View</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            </table>
        </div>
    </div>



    <!-- END EDIT CONTENT -->
</div>

</body>

</html>