<!DOCTYPE html>

<html lang="en" ng-app="goalsApp">

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>Pocket Goals</title>

  <link rel="stylesheet" href="../assets/stylesheets/navbarCss.css"> <!--this ref is wrong-->
  <link rel="stylesheet" href="../assets/stylesheets/home.css">

  <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
  <script src="assets/javascript/home.js"></script>

  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
  <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="app.js"></script>

 

</head>

<body>

<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--    All rights reserved    -->
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input id="burgerCheck" type="checkbox" />

    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="#!/" onclick="closeHamburger()"><li>Home</li></a>
      <a href="#!history" onclick="closeHamburger()"><li>History</li></a>
      <a href="#!insights" onclick="closeHamburger()"><li>Insights</li></a>
    </ul>
  </div>
</nav>

<div ng-view></div>

<script>
  var app = angular.module("goalsApp", ["ngRoute"]);
  app.config(function($routeProvider) {
      $routeProvider
      .when("/", {
          templateUrl : "partials/home.html"
      })
      .when("/history", {
          templateUrl : "partials/history.html"
      })
      .when("/insights", {
          templateUrl : "partials/insights.html"
      });
    });
</script>

</body>
</html>