<script>
$( "#clickme" ).click(function() {
      $( "#book" ).toggle( {
        
      });
    $(this).text(function(i, text){
    return text === "Add" ? "Remove" : "Add";
    })
});
</script>
<div class="container">
    <!-- START EDIT CONTENT -->
    <div class="row">
        <div">
            <!-- START Basic Example Table -->
            <table class="table">
            <table class="tableEmployeeStat">
                <th style="text-align:center;"">
                    Staff
                </th>
                <th style="text-align:center;">
                    Select if <br>Working today
                </th>
                <tbody>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <table>
                                <td>
                                    <img height="30px" src="assets/images/empty-profile.png" hspace="20" />
                                </td>
                                <td>
                                    <span class="smallFont"><b>Mariane Thiel</b></span>   
                                </td>
                            </table>                 
                        </td>
                        <td class="v-a-m">
                            <span class="smallFont" style="color:deepskyblue">Add</span>
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <table>
                                <td>
                                    <img height="30px" src="assets/images/empty-profile.png"  hspace="20"/>
                                </td>
                                <td>
                                    <span class="smallFont"><b>Logan Dawson</b></span>
                                </td>
                            </table>
                        </td>
                        <td class="v-a-m">
                             <table class="subTable">
                                <td>
                                    <span id="book" hidden="true"><img height='10px' src='assets/images/check.png'  hspace='20'/></span>
                                </td>
                                <td>
                                    <div id="clickme" style="color:deepskyblue">Add</div>
                                </td>
                            </table>  
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <table>
                                <td>
                                    <img height="30px" src="assets/images/empty-profile.png" hspace="20"/>
                                </td>
                                <td>
                                    <span class="smallFont"><b>Jennie Rice</b></span>
                                </td>
                            </table>
                        </td>
                        <td class="v-a-m">
                            <table class="subTable">
                                <td>
                                    <span id="book" hidden="true"><img height='10px' src='assets/images/check.png'  hspace='20'/></span>
                                </td>
                                <td>
                                    <div id="clickme">Add</div>
                                </td>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </table>
        </div>
    </div>
</div>


