<script>
$( "#button" ).click(function() {
      $( "#name" ).toggle( {
        
      });
    $(this).text(function(i, text){
    return text === "Add" ? "Remove" : "Add";
    })
});
</script>
<script>
$( "#clickme2" ).click(function() {
      $( "#staff2" ).toggle( {
        
      });
    $(this).text(function(i, text){
    return text === "Add" ? "Remove" : "Add";
    })
});
</script>

<script>
$( "#clickme3" ).click(function() {
      $( "#staff3" ).toggle( {
        
      });
    $(this).text(function(i, text){
    return text === "Add" ? "Remove" : "Add";
    })
});
</script>

<div class="container">
    <!-- START EDIT CONTENT -->
    <div class="row">
        <div">
            <!-- START Basic Example Table -->
            <table class="table">
            <table class="tableEmployeeStat">
                <th style="text-align:center;"">
                    Staff
                </th>
                <th style="text-align:center;">
                    Select if <br>Working today
                </th>
                <tbody>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <table>
                                <td>
                                    <img height="30px" src="assets/images/empty-profile.png" hspace="20" />
                                </td>
                                <td>
                                    <span class="smallFont"><b>Mariane Thiel</b></span>   
                                </td>
                            </table>                 
                        </td>
                        <td class="v-a-m">
                            <table class="subTable">
                                <td>
                                    <span id="staff1" hidden="true"><img height='10px' src='assets/images/check.png'  hspace='20'/>
                                    </span>
                                </td>
                                <td>
                                    <div id="clickme1" style="color:deepskyblue">Add</div>
                                </td>
                            </table>
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <table>
                                <td>
                                    <img height="30px" src="assets/images/empty-profile.png"  hspace="20"/>
                                </td>
                                <td>
                                    <span class="smallFont"><b>Logan Dawson</b></span>
                                </td>
                            </table>
                        </td>
                        <td class="v-a-m">
                             <table class="subTable">
                                <td>
                                    <span id="staff2" hidden="true"><img height='10px' src='assets/images/check.png'  hspace='20'/>
                                    </span>
                                </td>
                                <td>
                                    <div id="clickme2" style="color:deepskyblue">Add</div>
                                </td>
                            </table>  
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <table>
                                <td>
                                    <img height="30px" src="assets/images/empty-profile.png"  hspace="20"/>
                                </td>
                                <td>
                                    <span class="smallFont"><b>Logan Dawson</b></span>
                                </td>
                            </table>
                        </td>
                        <td class="v-a-m">
                             <table class="subTable">
                                <td>
                                    <span id="staff3" hidden="true"><img height='10px' src='assets/images/check.png'  hspace='20'/>
                                    </span>
                                </td>
                                <td>
                                    <div id="clickme3" style="color:deepskyblue">Add</div>
                                </td>
                            </table>  
                        </td>
                        <!-- TESTING --> 
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <table>
                                <td>
                                    <img height="30px" src="assets/images/empty-profile.png"  hspace="20"/>
                                </td>
                                <td>
                                    <div class="smallFont" id="staffName">Logan Dawson</div>
                                </td>
                            </table>
                        </td>
                        <td class="v-a-m">
                             <table class="subTable">
                                <td>
                                    <span id="staff3" hidden="true"><img height='10px' src='assets/images/check.png'  hspace='20'/>
                                    </span>
                                </td>
                                <td>
                                    <div ng-click="addStaff()" style="color:deepskyblue">Add</div>
                                </td>
                            </table>  
                        </td>
                        <!-- TESTING --> 
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <table>
                                <td>
                                    <img height="30px" src="assets/images/empty-profile.png"  hspace="20"/>
                                </td>
                                <td>
                                    <div class="smallFont" id="staffName">Jenny</div>
                                </td>
                            </table>
                        </td>
                        <td class="v-a-m">
                             <table class="subTable">
                                <td>
                                    <span id="staff3" hidden="true"><img height='10px' src='assets/images/check.png'  hspace='20'/>
                                    </span>
                                </td>
                                <td>
                                    <div ng-click="addStaff()" style="color:deepskyblue">Add</div>
                                </td>
                            </table>  
                        </td>
                        <!-- TESTING --> 
                    </tr>
                </tbody>
            </table>
            </table>
        </div>
    </div>
</div>
<span>{{staffList}}</span>
<table border="1">
    <tr ng-repeat="name in fullStaff" class="tableEmployeeStat">
        <td>
            {{name}}
        </td>
        <td>

            <span id="name" hidden="true"><img height='10px' src='assets/images/check.png'  hspace='20'/>
            </span>
        </td>
        <td>
            <div ng-click="addStaff(name)" style="color:deepskyblue">Add</div>
        </td>
    </tr>
</table>


