<a ng-click="back()">
    <img src="assets/images/backArrow.png" height="20px" width="20px" />
</a>
<h3 class="center">
    <span class="mediumFont">ADJUST STAFF GOALS</span>
    <hr>
</h3>
<div class="container full">
    <!-- START EDIT CONTENT -->
    <div class="row">
        <div">
            <!-- START Basic Example Table -->
            <table class="table">
            <table class="tableEmployeeStat">
                <tbody>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Mariane Thiel</b></span>                
                        </td>
                        <td class="v-a-m">
                            <input type="number" value="{{ ($storage.goal.dailyGoal * 0.33) | number:2 }}" />
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Logan Dawson</b></span>
                        </td>
                        <td class="v-a-m">
                            <input type="number" value="{{ $storage.goal.dailyGoal * 0.33 | number:2 }}" />
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Jennie Rice</b></span>
                        </td>
                        <td class="v-a-m">
                            <input type="number" value="{{ $storage.goal.dailyGoal * 0.33 | number:2 }}" />
                        </td>
                    </tr>
                </tbody>
            </table>
            </table>
        </div>
    </div>
</div>



<a href="#!/" class="center footer nextButton">
    <input type="button" value="DONE"/>
</a>