<h3 class="center">
    <span class="mediumFont">Weekly Goal Progress</span>
    <hr>
</h3>
<div class="container">
    <!-- START EDIT CONTENT -->
    <div class="row">
        <div">
            <!-- START Basic Example Table -->
            <table class="table">
            <table class="tableEmployeeStat">
                <tbody>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Mariane Thiel</b></span>                
                        </td>
                        <td class="v-a-m">
                            <span class="smallFont" style="color:deepskyblue">Adjust</span>
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Logan Dawson</b></span>
                        </td>
                        <td class="v-a-m">
                            <span class="smallFont" style="color:deepskyblue">Adjust</span>
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Jennie Rice</b></span>
                        </td>
                        <td class="v-a-m">
                            <span class="smallFont" style="color:deepskyblue">Adjust</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            </table>
        </div>
    </div>
</div>

<div class="center">
    <a role="button" href="#!setGoal">
        <span style="color:deepskyblue">SET</span>
    </a>
</div>