<header class="progress">
  <h3>
    <span class="mediumFont">Weekly Goal Progress</span>
  </h3>
  <br>
  <span class="xlargeFont"><span style="color:deepskyblue">$6,841</span>/ $12,000</span>
  <br>
  <span class="smallFont">56% of goal achieved</span>
  <br>
  <span class="smallFont" style="color:deepskyblue">Adjust goal</span>
</header>

<div class="chartHolder">
  <canvas id="myChart" width="200" height="200"></canvas>
</div>

<script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          datasets: [{
              data: [40, 60]
          }]
      },
      options: {
        responsive: false
      }
  });
</script>

<table class="dividerTable" ng-init="section = 0">
  <tr>
    <th ng-class="{'selected': section === 0}" ng-click="section = 0">Staff</th>
    <th ng-class="{'selected': section === 1}" ng-click="section = 1">Department</th>
    <th ng-class="{'selected': section === 2}" ng-click="section = 2">Category</th>
  </tr>
</table>

<div ng-if="section==0">
  Dummy data
</div>

<div ng-if="section==1">
  <table class="dividerTable">
    <tr>
      <th>Bar</th>
      <th>Tables</th>
    </tr>

    <tr>
      <td>$3,000</td>
      <td>$9,500</td>
    </tr>
  </table>

</div>

<div ng-if="section==2">
  Triple dummy
</div>

<!-- Insights -->
<div>

Weekly Insights <hr />
Only $3,098 of desserts have been sold this week, push more.

</div> <!-- End Insights -->

<div ng-include src="'partials/daily.html'"></div>

