<div ng-include src="'partials/navbar.html'"></div>

<header class="progressHeader">
  <h2>
    Your Progress
  </h2>
</header>

<div class="chartHolder">
  <canvas id="myChart" width="200" height="200"></canvas>
</div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: [40, 60]
        }]
    },
    options: {
      responsive: false
    }
});
</script>

<div class="center">
<span class="mediumFont">40%</span>
<br>
<span class="smallFont">Of goal achieved</span>
<br>
<a data-toggle="modal" data-target="#myModal"><span class="smallFont" style="color:deepskyblue">Adjust goal</span></a>
</div>
<br>

<table class="dividerTable">
  <tr class="center">
    <th class="smallFont">Goals</th>
    <th class="smallFont">Current</th>
    <th class="smallFont">Projected End</th>
  </tr>
  <tr class="center">
    <td class="mediumFont">$4,300</td>
    <td class="mediumFont">$1,700</td>
    <td class="mediumFont">$2,600</td>
  </td>
</table>
  <br>
<div class="center tactics">
  <span class="smallFont">Tactical goal</span>
  <br>
  <input class="smallFont" type="text" value="Earn $750 in dessert sales" id="tacticalGoalsInput" disabled />
  <!-- <span class="smallFont">Earn $750 in dessert sales</span>   -->
  <br>
  <a onclick="enableInput()"><span class="smallFont" style="color:deepskyblue">Edit Goal</span>

</div>


<div ng-include src="'partials/staffTable.html'"></div>

<a href="#!yesterday">yesterday</a>

<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adjust Today's Goal</h4>
      </div>
      <div class="modal-body">
        <input type="range" min="0" max="100" step="5" id="weeklyGoalRange" oninput="weeklyGoalInput.value = weeklyGoalRange.value" />
        <input type="text" value="50" id="weeklyGoalInput" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    <!-- END EDIT CONTENT -->
