<div ng-include src="'partials/navbar.html'"></div>

<header class="progress">
  <h2>
    Your Progress
  </h2>
</header>

<div class="chartHolder">
  <canvas id="myChart" width="200" height="200"></canvas>
</div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: [40, 60]
        }]
    },
    options: {
      responsive: false
    }
});
</script>

<div class="center">
<span class="mediumFont">40%</span>
<br>
<span class="smallFont">Of goal achieved</span>
<br>
<span class="smallFont" style="color:deepskyblue">Adjust goal</span>
</div>
<br>

<table class="dividerTable">
  <tr class="center">
    <th class="smallFont">Goals</th>
    <th class="smallFont">Current</th>
    <th class="smallFont">Projected End</th>
  </tr>
  <tr class="center">
    <td class="mediumFont">$4,300</td>
    <td class="mediumFont">$1,700</td>
    <td class="mediumFont">$2,600</td>
  </td>
</table>
  <br>
<div class="center tactics">
  <span class="smallFont">Tactical goal</span>
  <br>
  <span class="smallFont">Earn $750 in dessert sales</span>  
  <br>
  <span class="smallFont" style="color:deepskyblue">Adjust goals</span>

</div>


<div ng-include src="'partials/staffTable.html'"></div>
    <!-- END EDIT CONTENT -->
