<div ng-include src="'partials/navbar.html'"></div>

<header class="progressHeader">
  <h3>
    <span class="mediumFont">Last Week's Performance</span>
  </h3>
  <br>
  <span class="xlargeFont"><span style="color:deepskyblue">£{{ $storage.goal.currentWeekProgress }}</span>/ £{{ $storage.goal.weeklyGoal }}</span>
  <br>
  
 £<span ng-bind="$storage.weeklySales.monday"></span>
</header>

<!-- <div class="chartHolder"> -->
  <!-- <canvas id="myChart" width="200" height="200"></canvas> -->

  <canvas id="lineChart" class="chart chart-line"
    chart-data="weeklyLineData" chart-labels="weeklyLineLabels" chart-options="weeklyLineOptions" chart-series="weeklyLineSeries">
  </canvas> 
<!-- </div> -->


<table class="dividerTable" ng-init="section = 0">
  <tr class="smallFont bottomLine">
    <th ng-class="{'selected': section === 0}" ng-click="section = 0">Staff</th>
    <th ng-class="{'selected': section === 1}" ng-click="section = 1">Department</th>
    <th ng-class="{'selected': section === 2}" ng-click="section = 2">Category</th>
  </tr>
</table>

<div ng-if="section==0">
  <div ng-include src="'partials/staffTableNoTitle.html'"> </div>
</div>

<div ng-if="section==1">
<br>
  <table class="dividerTable smallFont">
    <tr >
      <td>Bar</td>
      <td>Tables</td>
    </tr>
    <tr class="mediumFont">
      <td>£3,000</td>
      <td>£9,500</td>
    </tr>
  </table>
  <br>

</div>

<!-- Insights -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Weekly Insights</b></span>
    <div class="boxed ">
      <span class="smallFont">{{ $storage.weeklyTactic }}</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div>
