<div ng-include src="'partials/navbar.html'"></div>

<header class="progressHeader">
  <h3>
    <span class="mediumFont">Set Daily Goal</span>
  </h3>
  <br>
  <span class="xlargeFont"><span style="color:deepskyblue">${{$storage.goal.dailyProgress}}</span>/${{$storage.goal.dailyGoal}}</span>
  <br>
  <span class="smallFont">{{$storage.goal.dailyProgress / $storage.goal.dailyGoal * 100| number:0 }}%</span>
  <span class="smallFont">of goal achieved</span>
</header>

<br>
<div class="center tactics">
  <input type="range" min="0" max="1000" id="weeklyGoalInput" ng-change="callUpdateGoals(0)" ng-model="$storage.goal.dailyGoal"/>
        <p class="left"> 
            Less 
            <span style="float:right;"> More </span>
        </p>
        <button type="button" class="btn btn-default" ng-click="callUpdateGoals(0)">Update</button>
</div>


<div ng-include src="'partials/addStaff.html'" class="full"></div>