<div ng-include src="'partials/navbar.html'"></div>

<header class="progressHeader">
  <h3>
    <span class="mediumFont">Set Daily Goal</span>
  </h3>
  <br>
  <span class="xlargeFont"><span style="color:deepskyblue">$841</span>/ $12,000</span>
  <br>
  <span class="smallFont">4% of goal achieved</span>
</header>

<br>

<div class="center tactics">
<br>
  <span class="smallFont">Today's Goal</span>
  <br>
  <span class="smallFont">25 July 2017</span>
  <br>



    <input type="range" min="0" max="2000" value="0" step="1" onchange="showValue(this.value)" />
        <p class="left"> 
            Less 
            <span style="float:right;"> More </span>
        </p>
    <div class="xlargeFont">
        <span>$
            <span id="range">0</span>
        </span>
        <script type="text/javascript">
        function showValue(newValue)
        {
            var val = document.getElementById("range").innerHTML=newValue;
        }
        </script>
    </div>
    <table class="dividerTable">
        <tr>
            <td class="smallFont">Bars</td>
            <td class="smallFont">Table</td>
        </tr>
        <tr>
            <td class="mediumFont">$1,500</td>
            <td class="mediumFont">$1,500</td>
        </tr>
    </table>
    <br>
</div>

<div ng-include src="'partials/addStaff.html'" class="full"></div>