<div ng-include src="'partials/navbar.html'"></div>

<header class="progressHeader">
  <h3>
    <span class="mediumFont">Set Daily Goal</span>
  </h3>
  <br>
  <span class="xlargeFont"><span style="color:deepskyblue">£{{ $storage.currentDayProgress }} </span>/ £{{ $storage.goal.dailyGoal }}</span>
  <br>
  <span class="smallFont">{{ $storage.currentDayProgress / $storage.goal.dailyGoal * 100 | number:2 }}% of goal achieved</span>
</header>

<br>

<div class="center tactics">
<br>
  <span class="smallFont">Today's Goal</span>
  <br>
  <span class="smallFont">{{ date | date:'dd MMMM yyyy'}}</span>
  <br>



    <input type="range" min="0" max="2000" value="0" step="1" ng-model="$storage.goal.dailyGoal" ng-change="callUpdateDailyGoal()" />
        <p class="left"> 
            Less 
            <span style="float:right;"> More </span>
        </p>
    <div class="xlargeFont">
        <span>£
            <span id="range">{{ $storage.goal.dailyGoal }}</span>
        </span>
    </div>
    <table class="dividerTable">
        <tr>
            <td class="smallFont">Bars</td>
            <td class="smallFont">Table</td>
        </tr>
        <tr>
            <td class="mediumFont">£{{ $storage.goal.dailyGoal * 0.3 | number:2 }}</td>
            <td class="mediumFont">£{{ $storage.goal.dailyGoal * 0.7 | number:2 }}</td>
        </tr>
    </table>
    <br>
</div>

<div ng-include src="'partials/addStaff.html'" class="full"></div>