<div ng-include src="'partials/navbar.html'"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<header class="progressHeader">
  <h3>
    <span class="mediumFont">Set Weekly Goal</span>
  </h3>
   <br>
   <div class="xlargeFont">
  <span class="xlargeFont"><span style="color:deepskyblue">$3,841</span>/</span>       
  		 <span>$
            <span id="range">6,000</span>
        </span>
  <br>
  </div>
  <span class="smallFont">6% of goal achieved</span>

</header>

<br>
<div class="center tactics">
	<input type="range" min="4000" max="20000" value="0" step="1" onchange="showValue(this.value)" />
        <p class="left"> 
            Less 
            <span style="float:right;"> More </span>
        </p>
        <script type="text/javascript">
        function showValue(newValue)
        {
            var val = document.getElementById("range").innerHTML=newValue;
        }
        </script>
</div>

<hr class="hrRule">

<div class="chartHolder">
  <canvas id="myChart" width="200" height="200"></canvas>
</div>

<div>
<script>
	var ctx = document.getElementById("myChart").getContext('2d');
	var myBarChart = new Chart(ctx, {
    	type: 'bar',
    	data: {
    		labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
    		datasets: [{
		          backgroundColor: ["#00bfff", "#00bfff","#00bfff","#00bfff","#00bfff","#00bfff","#00bfff"],
		          data: [900, 1200, 2478, 4134, 5267, 3784, 1200]
        	}]
	    },
      options: {
      legend: { display: false },
      title: {
        display: true
      }
    }
  });

</script>
</div>

<div class="center">
	Set Incentives<br />
	<div class="boxed">
		<textarea class="areaClass" placeholder="e.g. Sell $450 of dessert"></textarea>
	</div>
</div>

<div class="full">
	<div class="center">
		<img src="assets/images/plus.png" height="15px" width="15px" /> ADD INCENTIVE
	</div>
</div>
<br>
<a href="#!/" class="center footer nextButton">
	<input type="button" value="DONE"/>
</a>
