<div ng-include src="'partials/navbar.html'"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<header class="progressHeader">
  <h3>
    <span class="mediumFont">Set Weekly Goal</span>
  </h3>
   <br>
   <div class="xlargeFont">
  <span class="xlargeFont"><span style="color:deepskyblue">$3,841</span>/</span>       
  		 <span>${{ $storage.goal.weeklyGoal }}
            <!-- <textarea id="weekGoalInput" ng-model="$storage.goal.weekGoal">6,000</textarea> -->
        </span>
  <br>
  </div>
  <span class="smallFont">6% of goal achieved</span>

</header>

<br>
<div class="center tactics">
	<input type="range" min="{{min}}" max="{{max}}" id="weekGoalInput" ng-model="$storage.goal.weeklyGoal" />
        <p class="left"> 
            Less 
            <span style="float:right;"> More </span>
        </p>
        <button type="button" class="btn btn-default" ng-click="updateWeek">Update</button>
</div>

<div class="chartHolder">
  <canvas id="bar" class="chart chart-bar" chart-data="weeklyData" 
      chart-labels="weeklyLabels" chart-options="options">
  </canvas> 
</div>
<hr class="hrRule">

<div class="chartHolder">
  <canvas id="myChart" width="200" height="200"></canvas>
</div>

<div>

<!--                    kawbrglkarwglrkgkegliekbarjekbeglrkgbraeilgkaergaerig               

<script>
	var ctx = document.getElementById("myChart").getContext('2d');
  var x = +parseInt($(this).find('.value').text());
	var myBarChart = new Chart(ctx, {
    	type: 'bar',
    	data: {
    		labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
    		datasets: [{
		          backgroundColor: ["#00bfff", "#00bfff","#00bfff","#00bfff","#00bfff","#00bfff","#00bfff"],
		          data: {{weeklyData}}
        	}]
	    },
      options: {
      legend: { display: false },
      title: {
        display: true
      }
    }
  });
</script>
</div>
-->
<div class="center">
	Set Incentives<br />
	<div class="boxed">
		<textarea class="areaClass" placeholder="e.g. Sell $450 of dessert"></textarea>
	</div>
</div>

<div class="full">
	<div class="center">
		<img src="assets/images/plus.png" height="15px" width="15px" /> ADD INCENTIVE
	</div>
</div>
<br>
