
<div class="container">
    <!-- START EDIT CONTENT -->

    <div class="row">
        <div">
        <br>
            <!-- START Basic Example Table -->
            <table class="table">
            <table class="tableEmployeeStat">
              <thead>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m smallFont"><strong>Staff</strong>
                        </td>
                        <td class="v-a-m smallFont"><strong>Avg. Ticket</strong>
                        </td>
                        <td class="v-a-m smallFont"><strong>Order #</strong>
                        </td>
                    </tr> 
                </thead>
                <tbody>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Mariane Thiel</b></span>
                            <br>                          
                            <span class="smallFont">$143.00/$200</span>
                        </td>
                        <td class="v-a-m"> 
                        <span class="smallFont">Ticket</span>
                        <br>
                        <span class="smallFont">$12.30</span>
                        </td>
                        <td class="v-a-m"><span class="smallFont" style="color:deepskyblue" ng-click="openStaff('Mariane Thiel')">View</span>
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Logan Dawson</b></span>
                            <br>                          
                            <span class="smallFont">$99.58/$300</span>
                        </td>
                        <td class="v-a-m"> 
                        <span class="smallFont">Ticket</span>
                        <br>
                        <span class="smallFont">$14.30</span>
                        </td>
                        <td class="v-a-m"><span class="smallFont" style="color:deepskyblue" ng-click="openStaff('Logan Dawson')">View</span>
                        </td>
                    </tr>
                    <tr class="tableEmployeeStat">
                        <td class="v-a-m">
                            <span class="smallFont"><b>Jennie Rice</b></span>
                            <br>                          
                            <span class="smallFont">$289.58/$600</span>
                        </td>
                        <td class="v-a-m"> 
                        <span class="smallFont">Ticket</span>
                        <br>
                        <span class="smallFont">$12.30</span>
                        </td>
                        <td class="v-a-m"><span class="smallFont" style="color:deepskyblue" ng-click="openStaff('Jennie Rice')">View</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            </table>
        </div>
    </div>
</div>


    <a role="button" href="#!adjustStaffGoals">
        <span style="color:deepskyblue" class="smallFont"> 
            <div class="center">
                <a data-toggle="modal" data-target="#addStaffModal">
                    <img height="15px" src="assets/images/favicons/plus.png"/>   Adjust Staff 
                </a>
            </div>
        </span>
    </a>

<!-- Modal -->
<div id="addStaffModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add/Remove Staff</h4>
      </div>
      <div class="modal-body">
        <div ng-include src="'partials/addStaff.html'" class="full"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>