<br>
<br>
<table class="dividerTable" ng-init="section = 0">
  <tr class="smallFont bottomLine">
    <th ng-class="{'selected': section === 0}" ng-click="section = 0">Staff</th>
    <th ng-class="{'selected': section === 1}" ng-click="section = 1">Department</th>
    <th ng-class="{'selected': section === 2}" ng-click="section = 2">Category</th>
  </tr>
</table>

<div ng-if="section==0">
  <div ng-include src="'partials/staffTableNoTitleThisWeek.html'"> </div>
</div>

<div ng-if="section==1">
<br>
  <table class="dividerTable smallFont">
    <tr >
      <td>Bar</td>
      <td>Tables</td>
      <td>Take Away</td>
    </tr>
    <tr class="mediumFont">
      <td>${{fullSales.sales.thisWeekSales.department.bar}}</td>
      <td>${{fullSales.sales.thisWeekSales.department.tables}}</td>
      <td>${{fullSales.sales.thisWeekSales.department.takeAway}}</td>
    </tr>
  </table>
  <br>
</div>
<div ng-if="section==2">
<br>
  <table class="dividerTable smallFont">
    <tr >
      <td>Food</td>
      <td>Drinks</td>
      <td>Retail</td>
    </tr>
    <tr class="mediumFont">
      <td>${{fullSales.sales.thisWeekSales.category.food}}</td>
      <td>${{fullSales.sales.thisWeekSales.category.drinks}}</td>
      <td>${{fullSales.sales.thisWeekSales.category.retail}}</td>
    </tr>
  </table>
  <br>
</div>
<!-- Insights -->
