<div ng-include src="'partials/navbar.html'"></div>

<header class="progressHeader">
  <h2>
    Tips
  </h2>
</header>
<!-- Insights -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Hourly Insights</b></span>
    <div class="boxed ">
      <span class="smallFont">{{$storage.fullTactics.tactics[0].tips.hourlyInsights}}</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div>


<!-- Insights -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Suggested Incentives</b></span>
    <div class="boxed ">
      <span class="smallFont">{{$storage.fullTactics.tactics[0].tips.suggestedIncentives}}</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div>

<!-- Insights -->
<div class="tactics">
<br>
  <div class="center">
    <span class="smallFont"><b>Weekly Insights</b></span>
    <div class="boxed ">
      <span class="smallFont">{{$storage.fullTactics.tactics[0].tips.weeklyInsights}}</span>
    </div>
  </div> <!-- End Insights -->
<br>
</div>


