<div ng-include src="'partials/navbar.html'"></div>

<header class="progressHeader">
  <h2>
    Tips
  </h2>
</header>

<div class="grayBKG full">
	<div class="center">
		<h5>Hourly Tips</h5>
		<div class="whiteBKG">
			Try encouraging wine sales to reach today's goal!!
		</div>
		<div class="cyanBKG">
			<h6>Suggested Incentive:</h6>
			Offer a free bottle of wine to the staffer with the highest amount of sales today.
		</div>
	</div>

	<div class="center">
		<h5>Weekly Insights</h5>
		<div class="whiteBKG">
			Only $3,108.18 of desserts have been sold this week. This is 19% below average. Try selling more by encouraging your staff with incentives.
		</div>
	</div>
</div>
