<!-- <div ng-include src="'partials/navbar.html'"></div> -->
<header class="progressHeader">
  <h3>
    <span class="mediumFont">Weekly Goal Progress</span>
  </h3>
  <br>
  <span class="xlargeFont"><span style="color:deepskyblue">$841</span>/ ${{ $storage.goal.weeklyGoal}}</span>
  <br>
  <span class="smallFont">{{ (841 / $storage.goal.weeklyGoal) * 100 | number:2 }}% of goal achieved</span>
</header>


<div class="grayBKG">
	<div class="center">
		Today's goal {{ date | date:'dd MMMM yyyy'}}

		<input type="range" min="{{min}}" max="{{max}}" id="weeklyGoalRange" ng-model="$storage.goal.dailyGoal" />
		${{ $storage.goal.dailyGoal }}

		<table class="dividerTable">
			<tr>
				<th>Bar</th>
				<th>Tables</th>
			</tr>

			<tr>
				<td>${{ $storage.goal.dailyGoal * 0.7 | number:2 }}</td>
				<td>${{ $storage.goal.dailyGoal * 0.3 | number:2 }}</td>
			</tr>
		</table>
	</div>
</div>

<div ng-include src="'partials/addStaff.html'"></div>

<!-- <div class="chartHolder">
  <canvas id="myChart" width="200" height="200"></canvas>
</div> -->

<!-- <script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          datasets: [{
              data: [40, 60]
          }]
      },
      options: {
        responsive: false
      }
  });
</script> -->


<div>
	Today's Tactics <br />
	<textarea class="areaClass tacticalGoalsInput" placeholder="e.g. Sell $450 of dessert" ng-model="$storage.tactic" ng-change="callUpdateTactic()"></textarea>
</div>